@tailwind base;
@tailwind components;
@tailwind utilities;
 

body{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
@keyframes fallDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fall {
  animation: fallDown 1s ease-out forwards;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInDown {
  animation: fadeInDown 1s ease-out forwards;
}
html {
  scroll-behavior: smooth;
}
